*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper{
    font-family: 'raleway';
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color:rgb(63, 41, 41);
    color: beige;
}

.wrapper h1{
    font-size: 3em;
    margin: 25px 0;
    text-align: center;
    font-weight: 500;
}

.content-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 1000px;
    margin-top: 30px;
}

.card{
    min-height: 220px;
    width: 320px;
    padding: 30px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgb(167, 217, 236);
    margin: 10px 4px;
    box-shadow: 0px 15px 25px rgba(0,0,0,0.2);
}

.card i{
    margin: 20px;
    color: rgb(8, 8, 8);
}

.card h2{
    margin-bottom: 12px;
    font-weight: 400;
    text-align: center;
}

.card p{
    color: rgb(59, 29, 228);
    text-align: center;
}

.card:hover{

}
.card:hover i,
.card:hover p{
    color: aquamarine;
}
.card:hover h2{
    font-weight: 600;
}

.card:nth-child(1):hover{
    background:linear-gradient(45deg,
                               rgba(109, 216, 180, 0.8).0%,
                               rgba(131, 133, 241, 0.8)100%),
                               url('desktop/g-6.jpg');
    background-size : cover;                           
}

.card:nth-child(2):hover{
    background:linear-gradient(45deg,
                               rgba(109, 216, 180, 0.8).0%,
                               rgba(131, 133, 241, 0.8)100%),
                               url('desktop/g-6.jpg');
    background-size: cover;                           
}

.card:nth-child(3):hover{
    background:linear-gradient(45deg,
                               rgba(109, 216, 180, 0.8).0%,
                               rgba(131, 133, 241, 0.8)100%),
                               url('desktop/g-6.jpg');
    background-size: cover;                           
}

.card:nth-child(4):hover{
    background:linear-gradient(45deg,
                               rgba(109, 216, 180, 0.8).0%,
                               rgba(131, 133, 241, 0.8)100%),
                               url('desktop/g-6.jpg');
    background-size: cover;                           
}

.card:nth-child(5):hover{
    background:linear-gradient(45deg,
                               rgba(109, 216, 180, 0.8).0%,
                               rgba(131, 133, 241, 0.8)100%),
                               url('desktop/g-6.jpg');
    background-size: cover;                           
}

.card:nth-child(6):hover{
    background:linear-gradient(45deg,
                               rgba(109, 216, 180, 0.8).0%,
                               rgba(131, 133, 241, 0.8)100%),
                               url('desktop/g-6.jpg');
    background-size: cover;                           
}